@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0%;
  padding: 0%;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  /* background-image: url("../assets/imgs/background_clean_wow.png");
  background-size: cover;
  background-position: center; */
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

/* .header {
  border-bottom: 3px solid #32b9cd;
} */

/* .header .container {
  justify-content: space-between;
} */

/* .header a {
  text-decoration: none;
  color: #e3b062;
} */

/* .agora {
  font-weight: 800;
} */

/* .navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
} */


/* .titulo {
  color: #32b9cd;
  width: fit-content;
  font-weight: 500;
} */


/* BANNER */

.banner {
    background-color: black;
    background-image: url(../assets/imgs/background_clean_wow.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.banner .container {
  height: 280px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: flex-end;
}

/* .tamanho-conteudo { 
  height: fit-content !important;
} */

/* .banner p {
  width: 50%;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 36px;
} */

/* .container .card_setinha_foto {
  display: flex;
  height: 11%;
  width: 5%;
  cursor: pointer;
  position: absolute;
} */

/* .banner .container span {
  font-weight: 500;
} */

/* missao visao valores */

/* .social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container{
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
}

.social p {
  text-align: center;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */


/* .box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* Botões esquerdos */ 

.btn_lateral_esquerda{
  width: 15%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  height: 160px;
  margin-top: 60px;
}

 .btn_esquerda{
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  /* padding: 10px 15px; */
  /* color: transparent; */
  background-color: #850403;
  width: 120px;
  align-self: center;
  margin-top: 5px;
  color: #b9ab37;
  border: 2px solid #2c343f;
 }

 /* Botões direitos */ 

 .btn_lateral_direita{
  width: 98%; 
  display: flex;
  justify-content: flex-end;
}

#bsair {
  display: flex;
  justify-content: center;
}

#bregistrar {
  display: flex;
  width: 119px;
  justify-content: center;
}

#bsiteoficial {
  display: flex;
  width: 119px;
  justify-content: center;
}

#bcreditos {
  display: flex;
  width: 119px;
  justify-content: center;
}

.btn_lateral_direita_cadastro{
  width: 98%; 
  display: flex;
  justify-content: flex-end;
  height: 130px;
  margin-top: 40px;
}

/* FOOTER */

.footer {
  /* position: fixed; */
  /* bottom: 0; */
  /* background-color: transparent; */
  /* height: 150px; */
  color: #b9ab37;
  /* display: flex; */
  font-size: 15px;
  /* width: 100vw; */
  /* position: fixed; */
  /* z-index: -1; */
  /* bottom: 0; */
  text-align: center;
  /* display: flex; */

}

/*Footer login */

.footer .container {
  justify-content: center;
  height: 85px;
  /* justify-content: flex-end */
}
.footer h4{
  font-size: 15px;
}

/* LOGIN */

.banner .container .card {
  background-color: none;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: #b9ab37;
  align-items: center;
  border-radius: 4px;
}

.card {
  display: flex;
  justify-content: space-around;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #b9ab37 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 18px;
  font-weight: 300px !important;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin-bottom: 10px;
  border: 2px solid #2c343f;
  padding: 5px;
  text-align: center;
  border-radius: 7px;
  color: white;
  background-color: #242a2b;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  background-color: #850403;
  width: 120px;
  align-self: center;
  margin-top: 5px;
  color: #b9ab37;
  border: 2px solid #2c343f;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */

/* .janela {
  display: flex;
  width: 100vw;
} */

/* .header-left a {
  text-decoration: none;
  color: white;
} */

/* .header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
  /* border: 3px solid pink; */
 

/* .dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
} */

/* .btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
} */

/* .btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
} */

/* pagina extra - simulador
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
} */

.banner .LogoWoW{
display: flex;
height: 130px;
width: 0px;
padding: 20px 0px;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #000;
font-size: 3em; color: #000000;
}

#blogo {
  display: flex;
}

.banner .cadastro{
  height: 65px;
  display: flex;
  align-items: flex-end;
}